.WolfermusDefaultCSS {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.WolfermusVisable {
    visibility: visible !important;
}

@property --wlfToggleBackgroundColour1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #272727;
}

@property --wlfToggleBackgroundColour2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #bf6363;
}

@property --wlfToggleBackgroundNum1 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 40%;
}

@property --wlfToggleBackgroundNum2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

@property --wlfTransitionSpeed {
    syntax: "<time>";
    inherits: false;
    initial-value: 0.2s;
}

.WolfermusPopUpMenu {
    /* needed for firefox to have a valid output */
    --wlfToggleBackgroundColour1: #272727;
    --wlfToggleBackgroundColour2: #bf6363;
    --wlfToggleBackgroundNum1: 40%;
    --wlfToggleBackgroundNum2: 100%;

    pointer-events: all;
    background-color: #0f0f0f;
    border-radius: 20px;
    border-color: #272727;
    border-width: 4px;
    border-style: solid;
    box-shadow: 0px 2px 17px -1px rgba(0, 0, 0, 0.3);

    &.WolfermusRightPosition {
        &.WolfermusUpPosition {
            transform: translate(-100%, -100%);
            transition-delay: 0s;
        }

        &.WolfermusDownPosition {
            transform: translate(-100%, 0%);
            transition-delay: 0s;
        }
    }

    &.WolfermusGroupRightPosition {
        ul li a.WolfermusGroup.WolfermusGroupRightPosition {
            visibility: inherit !important;
        }
    }

    &.WolfermusLeftPosition {
        &.WolfermusUpPosition {
            transform: translate(0%, -100%);
            transition-delay: 0s;
        }

        &.WolfermusDownPosition {
            transform: translate(0%, 0%);
            transition-delay: 0s;
        }
    }

    &.WolfermusGroupLeftPosition {
        ul li a.WolfermusGroup.WolfermusGroupLeftPosition {
            visibility: inherit !important;
        }
    }

    ul {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding-top: 2%;
        padding-bottom: 2%;
        overflow: auto;
        border-radius: 15px;

        .WolfermusActive {
            li {
                &.WolfermusGroupItem {
                    background: #3d3d3d;
                }
            }
        }

        li {

            &.WolfermusToggleable {
                -webkit-transition: --wlfToggleBackgroundColour1 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundColour2 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundNum1 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundNum2 var(--wlfTransitionSpeed) ease;
                -moz-transition: --wlfToggleBackgroundColour1 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundColour2 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundNum1 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundNum2 var(--wlfTransitionSpeed) ease;
                -o-transition: --wlfToggleBackgroundColour1 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundColour2 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundNum1 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundNum2 var(--wlfTransitionSpeed) ease;
                transition: --wlfToggleBackgroundColour1 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundColour2 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundNum1 var(--wlfTransitionSpeed) ease,
                    --wlfToggleBackgroundNum2 var(--wlfTransitionSpeed) ease;

                &.WolfermusTrue {
                    --wlfToggleBackgroundColour1: #63bf75;
                    --wlfToggleBackgroundColour2: #272727;
                    --wlfToggleBackgroundNum1: 0%;
                    --wlfToggleBackgroundNum2: 60%;
                }

                &.WolfermusFalse {
                    --wlfToggleBackgroundColour1: #272727;
                    --wlfToggleBackgroundColour2: #bf6363;
                    --wlfToggleBackgroundNum1: 40%;
                    --wlfToggleBackgroundNum2: 100%;
                }
            }


            &:hover {
                background-color: #3d3d3d;

                &.WolfermusToggleable {
                    &.WolfermusTrue {
                        --wlfToggleBackgroundColour1: #63bf75;
                        --wlfToggleBackgroundColour2: #3d3d3d;
                        --wlfToggleBackgroundNum1: 0%;
                        --wlfToggleBackgroundNum2: 60%;
                    }

                    &.WolfermusFalse {
                        --wlfToggleBackgroundColour1: #3d3d3d;
                        --wlfToggleBackgroundColour2: #bf6363;
                        --wlfToggleBackgroundNum1: 40%;
                        --wlfToggleBackgroundNum2: 100%;
                    }
                }
            }

            &.WolfermusActivable {
                &:active {
                    background: #505050;

                    &.WolfermusToggleable {
                        &.WolfermusTrue {
                            --wlfToggleBackgroundColour1: #63bf75;
                            --wlfToggleBackgroundColour2: #505050;
                            --wlfToggleBackgroundNum1: 0%;
                            --wlfToggleBackgroundNum2: 60%;
                        }

                        &.WolfermusFalse {
                            --wlfToggleBackgroundColour1: #505050;
                            --wlfToggleBackgroundColour2: #bf6363;
                            --wlfToggleBackgroundNum1: 40%;
                            --wlfToggleBackgroundNum2: 100%;
                        }
                    }
                }

                &.WolfermusToggleable {
                    background: linear-gradient(0deg,
                            var(--wlfToggleBackgroundColour1) var(--wlfToggleBackgroundNum1),
                            var(--wlfToggleBackgroundColour2) var(--wlfToggleBackgroundNum2));
                }
            }

            cursor: pointer;
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #272727;
            list-style-type: none;
            transform: scale(0.95);
            margin: 1%;
            border-radius: 20px;

            &.WolfermusTextItem {
                cursor: auto;
                background: transparent;
            }

            a {
                pointer-events: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                /* padding: 6px 12px; */
                margin: 6px 12px;
                /* min-width: 12px; */
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                flex-shrink: 0;
                max-width: 200px;

                &.WolfermusGroup {
                    visibility: hidden;
                    border-radius: 20px;
                    pointer-events: none;
                    position: absolute;

                    &.WolfermusGroupLeftPosition {
                        left: auto;
                        right: 0;
                    }

                    &.WolfermusGroupRightPosition {
                        left: 0;
                        right: auto;
                    }
                }
            }
        }
    }
}

.WolfermusText {
    font-family: "Roboto", "Arial", sans-serif;
    color: #ececec;
    font-weight: 500;
}

.WolfermusMainMenuContextMenu {
    visibility: hidden;
    position: absolute;
    z-index: 8700;
    width: 140px;

    ul li a {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.5px;
    }
}

.WolfermusGroupMenuWindow {
    position: absolute;
    visibility: visible;
    width: 300px;
    height: 200px;
    top: 8px;
    left: 8px;
    z-index: 8500;
    transition: 0.2s;
}

.WolfermusMenuItemToolTip {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;

    visibility: hidden;
    width: 120px;
    text-align: center;

    padding: 10px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 8800;

    transform: translateX(-50%);

    ul li a {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.5px;
        overflow-wrap: break-word;
    }
}

#WolfermusRoot {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 8000;
    left: 0;
    top: 0;

    #WolfermusFloatingSnapBtnWrapper {
        z-index: 0;
        -khtml-user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 30px;
        left: 86%;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        .WolfermusFabBtn {
            ul {
                padding-top: 0;
                padding-bottom: 0;
                overflow: hidden;

                li {
                    transform: scale(1);
                    margin: 0;
                    border-radius: 0;

                    &:hover {
                        background-color: inherit;
                    }

                    img {
                        -khtml-user-select: none;
                        -o-user-select: none;
                        -moz-user-select: none;
                        -webkit-user-select: none;
                        user-select: none;
                        pointer-events: none;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                }
            }

            pointer-events: all;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            color: white;
            z-index: 9000;
        }

        .WolfermusActivatedMainMenuWindow {
            visibility: hidden;
            position: relative;
            width: 300px;
            height: 400px;
            z-index: 8500;
            transition: 0.2s;

            &.WolfermusLeftPosition {
                left: 120%;
                transition-delay: 0s;
            }

            &.WolfermusRightPosition {
                left: -20%;
                transition-delay: 0s;
            }

            &.WolfermusDownPosition {
                top: 0;
                transition-delay: 0s;
            }

            &.WolfermusUpPosition {
                top: 100%;
                transition-delay: 0s;
            }
        }

        &.WolfermusVisable {
            .WolfermusActivatedMainMenuWindow {
                transition: 0.5s;
                visibility: visible;
            }

            .WolfermusPopUpMenu ul li {
                transition: 0.5s;
            }
        }
    }
}